In [4]:
from sklearn.datasets import fetch_openml
import pandas as pd

In [3]:
wine = fetch_openml(name='wine-quality-red')

In [8]:
wine.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'details', 'categories', 'url'])

In [26]:
print('Data:   ' + str(wine['data'].shape))
print('Target: ' + str(wine['target'].shape))

Data:   (1599, 11)
Target: (1599,)

In [10]:
wine['data']

array([[ 7.4  ,  0.7  ,  0.   , ...,  3.51 ,  0.56 ,  9.4  ],
       [ 7.8  ,  0.88 ,  0.   , ...,  3.2  ,  0.68 ,  9.8  ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  3.26 ,  0.65 ,  9.8  ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  3.42 ,  0.75 , 11.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  3.57 ,  0.71 , 10.2  ],
       [ 6.   ,  0.31 ,  0.47 , ...,  3.39 ,  0.66 , 11.   ]])

In [20]:
df_data = pd.DataFrame(wine['data'])
df_data.head()

     0     1     2    3      4     5     6       7     8     9    10
0   7.4  0.70  0.00  1.9  0.076  11.0  34.0  0.9978  3.51  0.56  9.4
1   7.8  0.88  0.00  2.6  0.098  25.0  67.0  0.9968  3.20  0.68  9.8
2   7.8  0.76  0.04  2.3  0.092  15.0  54.0  0.9970  3.26  0.65  9.8
3  11.2  0.28  0.56  1.9  0.075  17.0  60.0  0.9980  3.16  0.58  9.8
4   7.4  0.70  0.00  1.9  0.076  11.0  34.0  0.9978  3.51  0.56  9.4

In [21]:
df_target = pd.DataFrame(wine['target'])
df_target.head()

   0
0  5
1  5
2  5
3  6
4  5

In [28]:
df_target.describe()

           0
count   1599
unique     6
top        5
freq     681

In [30]:
from sklearn.pipeline import Pipeline

In [31]:
from dstoolbox.pipeline import PipelineY

In [ ]:
PipelineY = PipelineY(steps, y_transformer, predict_use_inverse=False, **kwargs)

In [ ]:
Pipeline = Pipeline(steps, memory=None)