In [1]:
import pandas as pd
from sklearn.externals import joblib
import warnings
warnings.filterwarnings('ignore')

In [2]:
json_data = '{"transactionId": 6304965406, "basket": [4, 3, 0, 3, 1, 1, 2, 0, 2], "zipCode": 2729, "totalAmount": 12}'

In [3]:
basket = [4, 3, 0, 3, 1, 1, 2, 0, 2]
zipCode = 2729
totalAmount = 12

In [4]:
#df = pd.DataFrame(columns=['basket', 'zipCode', 'totalAmount', 0, 1, 2, 3, 4, 5])
df = pd.DataFrame(columns=['basket', 'zipCode', 'totalAmount', 0, 1, 2, 3, 4])
df = df.append({'basket': basket, 
                'zipCode': zipCode, 
                'totalAmount': totalAmount, 
                #0:0, 1:0, 2:0, 3:0, 4:0, 5:0}, 
                0:0, 1:0, 2:0, 3:0, 4:0}, 
                ignore_index=True)

In [5]:
for basket in set.union(*df.basket.apply(set)):
    df[basket] = df.apply(lambda _: int(_.basket.count(basket)), axis=1)
df.drop('basket', axis=1, inplace=True)

In [6]:
df["zipCode"] = df["zipCode"].astype('category',categories=[i for i in list(range(1000,10000))])
dummies = pd.get_dummies(df.zipCode)
df = pd.concat([df, dummies], axis=1)

In [7]:
df.drop('zipCode', axis=1, inplace=True)

In [8]:
df

,totalAmount,0,1,2,3,4,1000,1001,1002,1003,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,12,2,2,2,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
loaded_model = joblib.load('model.pkl')
result = loaded_model.predict_proba(df)
print(result)

[[0.99732504 0.00267496]]